<html ng-app="sayitback">
<head>
	<meta charset="utf-8">
	<base href="/">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="css.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
	<script src="auth.js"></script>
    <script src="search.js"></script>
	<script src="app.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
</head>

<body ng-controller="gameController">

	<div id="login-container" class="pre-auth">
      This application requires access to your YouTube account.
      Please <a href="#" id="login-link">authorize</a> to continue.
    </div>

	<div class="container">
		<div class="page-header">
	    	<h1>Say It Back</h1>
	    </div>
		<button ng-click="start()" class="btn btn-primary btn-lg">Start Listening!</button>
		<label>Artist, genre, etc..</label>
		<input id="query" value="gaga" type="text" ng-model="query">
		<br>


		<div id="ytplayer"></div>
<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '390',
      width: '640',
      videoId: 'M7lc1UVf-VE',
      playerVars: {
	      modestbranding: 0,
	      controls: 0,
	      autoplay: 1,
	      showinfo: 0,
	      rel: 0,
	      iv_load_policy: 0,
	      cc_load_policy: 0,
	      enablejsapi: 1
  	  }
    });
  }
</script>
	</div>
</body>
</html>

<!--

<div id="buttons">
      <label> <input id="query" value='cats' type="text"/><button id="search-button" disabled onclick="search()">Search</button></label>
    </div>

    <div id="search-container"></div>



		<input type="text" ng-model="data.text"/>
		<p>You said: {{ data.text }}</h1>



		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&color=0066cc"></iframe>